.sm {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
	display: inline-block;
	margin: 0 5% 5% 0;
}

.fa-building,
.fa-google-plus,
.fa-share-alt,
.fa-youtube,
.fa-clock-o,
.fa-phone,
.fa-map-marker,
.fa-facebook,
.fa-instagram,
.fa-twitter {
	font-size: 20px;
	line-height: 200%;
}

.fa-facebook {color: #3b5998;}
.fa-instagram {color: #e4405f;}
.fa-twitter {color: #00aced;}
.fa-youtube {color: #dd4b39;}
.fa-google-plus {color: #dd4b39;}

.about {
  padding-right: 20px;
  text-indent: 30px;
}

.footer_block {
	background: #cccccc;
	border-radius: 10px;
	padding-top: 25px;
}

.logo img {
  max-width: 250px;
	width: 90%;
}


.hidden-small {
  display: none;
  visibility: hidden;
}

.contact span,
.about {
  font-size: 15px;
}

.contact {
  padding-left: 50px;
}

@media (min-width: 768px) {
	.fa-building,
	.fa-google-plus,
	.fa-share-alt,
	.fa-youtube,
	.fa-clock-o,
	.fa-phone,
	.fa-map-marker,
	.fa-facebook,
	.fa-instagram,
	.fa-twitter {
		font-size: 16px;
		line-height: 200%;
	}

  .hidden-small {
    display: inline-block;
    visibility: visible;
  }
}

@media (min-width: 1024px) {
	.fa-building,
	.fa-google-plus,
	.fa-share-alt,
	.fa-youtube,
	.fa-clock-o,
	.fa-phone,
	.fa-map-marker,
	.fa-facebook,
	.fa-instagram,
	.fa-twitter {
		font-size: 20px;
		line-height: 200%;
	}

  .contact span,
	.about {
		font-size: 18px;
	}
}

@media (min-width: 1025px) {
	.fa-building,
	.fa-google-plus,
	.fa-share-alt,
	.fa-youtube,
	.fa-clock-o,
	.fa-phone,
	.fa-map-marker,
	.fa-facebook,
	.fa-instagram,
	.fa-twitter {
		font-size: 25px;
		line-height: 200%;
	}

  .contact span,
	.about {
		font-size: 20px;
	}
}
